@charset "UTF-8";


* {
	box-sizing: border-box;	
}

/* 모임 정보 관련 css */
#meeting {
	margin-bottom: 50px;
}
#meetingHeader {
	margin-top: 100px;
	border-bottom: 2px dashed silver;
	text-align: right;
}
#meetingTitle {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
}
#meetingInfo {
	display: flex;
	margin-top: 30px;
}
#meetingDetail {
	width: 70%;
}
#mainImg {
	width: 30%;
}
#meetingInfo img {
	width: 100%;
	height: 320px;
}







/* 작성자 관련 css */
#hostInfo {
	display: flex;
}








table, tr, td {
	border: 1px solid;
}
