@charset "UTF-8";


* {
	box-sizing: border-box;	
}

/* 모임 정보 관련 css */
#meeting {
	border-bottom: 2px dashed silver;
}
#meetingHeader {
	margin-top: 100px;
	border-bottom: 2px dashed silver;
	text-align: right;
}
#meetingTitle {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
}
#meetingInfo {
	display: flex;
	margin-top: 30px;
}
#meetingDetail {
	width: 70%;
}
#mainImg {
	width: 30%;
}
#meetingInfo img {
	width: 100%;
	height: 320px;
}
#meetingContent {
	margin-bottom: 30px;
}

/* 호스트 관련 css */
#host {
	display: flex;
}
#hostHeader {
	width: 70%;
}
#hostWrap {
	display: flex;
}
#hostImage {
	width:10%;
	border: 1px solid;
	margin: 0 20px 10px 0;
}
#host {
	padding-bottom: 50px;
	border-bottom: 2px dashed silver;
}
.btns {
	text-align: end;
	height: auto;
	margin-top: 100px;
}

/* 다른 모임 리스트 flex용 */
.otherMeeting {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	border-bottom: 2px dashed silver;
}

/* 이 호스트의 다른 인기 모임 */
#otherMeeting {
	margin-bottom: 50px;
	touch-action: pan-y;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
}
#otherMeeting a {
	text-decoration: none;
	color: inherit;	
	float: left;
}
#otherMeeting .trainerMeeting {
	border: dashed red;
	border-radius: 10%;
	width: 250px;
	height: auto;
	margin: 10px 10px;
}
.trainerMeeting div {
	height: 100px;
	text-align: center;
	line-height: 100px;
	border: 1px solid black;
	border-radius: 15%;
}

/* 다른 호스트의 같은 종목 모임 */
#otherHostMeeting {
	margin-bottom: 50px;
	margin-bottom: 50px;
	touch-action: pan-y;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;	
}
#otherHostMeeting a {
	text-decoration: none;
	color: inherit;	
	float: left;
}
#otherHostMeeting .trainerMeeting {
	border: dashed red;
	border-radius: 10%;
	width: 250px;
	height: auto;
	margin: 10px 10px;
}
.trainerMeeting div {
	height: 100px;
	text-align: center;
	line-height: 100px;
	border: 1px solid black;
	border-radius: 15%;
}


/* 댓글 css */
.comment-container {
	display: flex;
}
.comment-container img {
	width: 60px;
	height: 60px;
	border: 1px solid;
}
.profile {
	width: 6%;
}
.comment-content {
	width: 90%;
	margin-bottom: 15px;
}
.comment-btn {
	width: 10%;
	display: flex;
	flex-direction: column;
	width: auto;
}
.comment-content p, .comment-content pre {
	margin: 0;
}
.comment-btn a {
	text-decoration: none;
	color: inherit;
	display: none;
}
.comment-btn a:hover {
	color: gold;	
}

/* 뎃글 작성 div창 css */
#writeComment textarea {
	border: none;
	width: 100%;
	height: auto;
}
#writeComment {
	border: 1px solid black;
	width: 100%;
	height: auto;
	padding: 5px;
}
#writeComment p {
	font-weight: 700;
	font-size: 1.2rem;
}	
	
	
	
	
	
	
	
	
	
	