@charset "UTF-8";


* {
	box-sizing: border-box;	
}
.subTitle {
	margin-bottom: 10px;
	font-size: 14px;
	color: #ea5a45;
	letter-spacing: -.33px;
	margin-top: 30px;
	font-weight: bold;
}
.title {
	margin-bottom: 5px;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: -.72px;
	color: #242424;
}
#meetingDetail > div:nth-child(1) {
	margin-top: none;
}

/* 모임 정보 관련 css */
#meeting {
	border-bottom: 2px solid #ebebeb;
}
#meetingHeader {
	margin-top: 100px;
	border-bottom: 2px solid #ebebeb;
	text-align: right;
}
#meetingTitle {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}
#meetingBody {
	display: flex;
	margin-top: 30px;
}
#meetingBody img {
	width: 100%;
	height: 413px;
}
#leftSide {
	width: 50%;
	margin-right: 10%;
}
#rightSide {
	width: 50%;
}


#meetingDetail {
	width: 70%;
}
.info_row {
	width: 120%;
	padding: 0px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.63;
	letter-spacing: -.6px;
	color: #383535;
}
.info_row > span {
	margin-left: 5px;
}
#mainImg {
	width: 100%;
	height: 40%;
}
#meetingContent {
	line-height: 1.5;
	text-align: left;
	color:  #212529;
	margin-bottom: 30px;
}
.btns {
	text-align: right;
	margin-bottom: 15px;
}
.btns > input {
	text-align: center;
	padding: 13px 0;
	border-radius: 5%;
	background-color: #fff;
	color: #000;
	height: 40px;
	font-weight: 700;
	line-height: 15px;
	width: 70px;
	border: 1px solid #000;
}
.btns > input:hover {
	color: orangered;
	border: 1px solid orangered;
}

/* 호스트 관련 css */
#host {
	padding-bottom: 50px;
	padding: 24px 20px 20px;
	border-radius: 16px;
	border: 1px solid #dbdbdb;
	width: 40%;
	margin-bottom: 60px;
}
#infoHost {
	display: flex;
}
#hostImage {
	padding-right: 8px;
	margin-bottom: 8px;
}
#hostImage img{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
#infoHost > div:nth-child(2) {
	margin-top: 24px;
}
#infoHost > div:nth-child(2) > div:nth-child(1) {
	font-size: 10px;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: -.2px;
	color: #999696;
	margin-bottom: 4px;
}
#hostNick {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
	letter-spacing: -.4px;
	color: #080606;
	margin-bottom: 4px;
}
#host > div:nth-child(2) > span,
#host > div:nth-child(3) > span {
	padding: 6px 8px;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -.4px;
	border-radius: 4px;
	color: #383535;
	background: #f4f4f4;
	margin: 0 8px 8px 0;
	white-space: nowrap;
}
#host > div:nth-child(3) {
	margin: 10px 0;	
}
#host > div:nth-child(4) {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.57;
	color: #383535;
	margin-bottom: 10px;
}

/* 이 호스트의 다른 인기 모임 */
.newMeetings {
	border-top: 2px solid #ebebeb;
	padding-top: 30px;
}
#otherMeeting {
	margin-bottom: 20px;
	white-space: nowrap;
	overflow-x: scroll;
}
#otherMeeting > a {
	display: inline-block;
	width: 25%;
	text-decoration: none;
	color: inherit;	
	margin: 10px 10px;
	background: #fff;
	transition: 0.2s ease;
}
#otherMeeting > a:hover {
	transform: scale(1.05, 1.05);
}
#otherMeeting .trainerMeeting {
	width: 100%;
	height: auto;
	border-radius: 16px;
	border: 1px solid #f1f1f1;
}
.trainerMeeting > div:nth-child(1) {
	height: 120px;
	text-align: center;
	line-height: 100px;
}
.trainerMeeting > div > img {
	width: 100%;
	height: 100%;
	border-radius: 16px 16px 0 0;
}
.meetingContent  {
	padding: 13px;
}
.meetingContent > div:nth-child(1) {
	font-size: 16px;
	width: 100%;
	font-weight: 700;
	color: #383535;
	line-height: 1.5rem;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.meetingContent > div:nth-child(2) {
	display: flex;
}
.meetingContent > div:nth-child(2) > div {
	border: 1px solid #f1f1f1;
	display: inline-block;
	font-weight: 400;
	color: #383535;
	border-radius: 12px;
	background-color: #f4f4f4;
	padding: 0 8px;
	margin: 4px 8px 0 8px;
}
.writerInfo {
	border-top: .5px solid #dbdbdb;
	padding-top: 10px;
}
.writerInfo img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.writerInfo > span:nth-child(2) {
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
}

/* 다른 호스트의 같은 종목 모임 */
#otherHostMeeting {
	white-space: nowrap;
	overflow-x: scroll;
}
#otherHostMeeting > a {
	display: inline-block;
	width: 25%;
	text-decoration: none;
	color: inherit;	
	margin: 10px 10px;
	background: #fff;
	transition: 0.2s ease;
}
#otherHostMeeting > a:hover {
	transform: scale(1.05, 1.05);
}
#otherHostMeeting .trainerMeeting {
	width: 100%;
	height: auto;
	border-radius: 16px;
	border: 1px solid #f1f1f1;
}
.trainerMeeting > div:nth-child(1) {
	height: 120px;
	text-align: center;
	line-height: 100px;
}
.trainerMeeting > div > img {
	width: 100%;
	height: 100%;
	border-radius: 16px 16px 0 0;
}
.meetingContent  {
	padding: 13px;
}
.meetingContent > div:nth-child(1) {
	font-size: 16px;
	width: 100%;
	font-weight: 700;
	color: #383535;
	line-height: 1.5rem;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.meetingContent > div:nth-child(2) {
	display: flex;
}
.meetingContent > div:nth-child(2) > div {
	border: 1px solid #f1f1f1;
	display: inline-block;
	font-weight: 400;
	color: #383535;
	border-radius: 12px;
	background-color: #f4f4f4;
	padding: 0 8px;
	margin: 4px 8px 0 8px;
}
.writerInfo {
	border-top: .5px solid #dbdbdb;
	padding-top: 10px;
}
.writerInfo img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.writerInfo > span:nth-child(2) {
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
}




/* 댓글 css */
#comment {
	margin-top: 50px;
}
#commentHeader {
	display: flex;
}
#commentHeader > div {
	font-size: 1.5rem;
}
#commentContent {
	border-top: 2px solid #000;
	padding-top: 30px;
	margin-top: 10px;
}
.comment-container {
	display: flex;
}
.comment-container img {
	width: 60px;
	height: 60px;
	border: 1px solid;
}
.profile {
	width: 6%;
}
.profile > img {
	border: none;
	border-radius: 50%;	
}
.comment-content {
	width: 88%;
	margin-bottom: 15px;
}
.comment-content > p:nth-child(1) {
	font-weight: 900;
	font-size: 1.5rem;
	margin-bottom: 5px;
}
.comment-content > p:nth-child(3) {
	margin-top: 5px;
	color: gray;
}
.comment-btn {
	width: 15%;
	flex-direction: column;
	width: auto;
}
.comment-content p, .comment-content pre {
	margin: 0;
}
.comment-btn a {
	text-decoration: none;
	color: inherit;
}
.comment-btn a:hover {
	color: blue;	
}
.editComment {
	display: flex;
	flex-direction: column;
}
.btnClass {
	padding: 3px;
	text-decoration: none;
}

#writeComment {
	padding: 12px;
	border: 1px solid #d7d7d7;
	min-height: 130px;
}
#writeComment textarea {
	width: 100%;
	border: none;
	height: 50px;
	overflow: auto;
	outline: none;
}
#writeComment input {
	float: right;
	color: darkgray;
	padding: 5px;
	border: none;
	background: none;
}
#commentPaging {
	text-align: center;
	margin: 30px 0;
}
#commentPaging a {
	color: #000;
}
	
	
/* modal창을 위한 css */
#modal {
	display: none;
	position: fixed;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0; 
	z-index: 1;
}
#modal button {
	width: 30px;
	height: 30px;
}
#modal .modal_content {
	position: fixed;
	top:50%; left:50%;
	transform: translate(-50%,-50%);
	max-width: 60%;
	min-height: 30%;
	background: #fff;
	border: 2px black solid;
	margin: 0 auto;
	padding: 40px;
}
#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: -1;
}
#content, #title {
	width: 400px;
}
#content {
	height: 300px;
}
#modal form {
	display: flex;
	flex-direction: column;
}
#modal label {
	margin-right: 195px;
	margin-left: 10px;
}
.modal_content {
	text-align: right;
}
#closeQnAModal {
	margin-bottom: 5px;
}
#modal input {
	border: 1.5px solid;
	margin-top: 10px;
	padding: 10px;
}
#wishList a {
	color: red;
	text-decoration: none;
}
