@charset "UTF-8";
h3 {
	border-bottom: 2px solid;
	padding-bottom: 20px;
}
#writeForm {
	margin-top: 20px;
	padding: 20px;
}
#qnaTitle {
	display: flex;
}
#qnaTitle > div {
	font-size: 2.2rem;
	font-weight: bold;
	margin-left: 5%;
	line-height: 40px;
	width: 10%
}
#qnaTitle > input {
	width: 80%;
	height: 40px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#updateRefer {
	padding: 10px;
	margin: 20px auto;
	width: 90%;
}
#qnaContent {
	margin: 20px auto;
	width: 90%;
}
#qnaContent > span:nth-child(1) {
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 40px;
	margin-right: 72%;
}
#qnaContent i {
	vertical-align: sub;
	font-size: 30px;
}
#qnaContent div > i {
	vertical-align: sub;
	font-size: 20px;
	color: orangered;
}
#content {
	border-radius: 5px;
	min-height: 400px;
	max-height: 800px;
	overflow: scroll;
	padding: 12px;
}
#doneBtn, #cancelBtn{
	float: right;
	border: 1px solid #000;
	background: #fff;
	color: #000;
	border-radius: 5%;
	padding: 10px;
	margin-left: 10px;
}
#doneBtn:hover, #cancelBtn:hover {
	color: orangered;
	border: 1px solid orangered;
}