@charset "UTF-8";

* {
	box-sizing: border-box;	
}

/* 상단 트레이너 프로필 css */
#trainerInfo {
	display: flex;
	margin-top: 50px;
}
#trainerSimple {
	width: 30%;
	margin-right: 30px;
}
#trainerDetail {
	width: 70%;
}
#trainerImage img {
	width: 100%;
}
#trainerDetail pre {
	word-break: break-all;
}

#totalMeeting, #totalReview, #totalQnA{
	border: none;
	text-align: center;
	line-height: normal;
	font-size: 1.5rem;
	font-weight: 900;
}

/* 트레이너 프로필 : 관심트레이너 등록 버튼*/
.WishTrainerBtn:hover {
	box-shadow: 1px 1px 5px 0px #d9d9d9;
}

/* 하단 탭형식 css */
#tab {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 20px auto;
	padding: 10px 0 20px 40px;
	background: #F8F9FB;
}
#tab ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	height: auto;
}
#tab ul li{
	display: inline-block;
	width: 30%;
	margin: 20px 10px 30px 10px;
	line-height: 50px;
	float: left;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid gainsboro;
	box-shadow: 3px 2px 2px darkgray;
	border-bottom: 3px solid darkgray;
}
#tab ul li:hover {
	border-bottom: 3px solid orangered;
}
 #tab ul li.on {
 	border-bottom: 3px solid orangered;
 	color: orangered;
 }
#tab .conBox {
	width: 100%;
	height: auto;
	overflow: hidden;
	min-height: 200px;
	display: none;
}
#tab .conBox.on {
	display: block;
}

/* 버튼들 css */
.TrainerDetailBtn {
	color: #000;
	background: #fff;
	padding: 6px;
	float: right;
	border: 1px solid black;
	border-radius: 5%;
}
.TrainerDetailBtn:hover{
	color: orangered;
	border: 1px solid orangered;
}
#openReviewModal, #openQnAModal {
	margin-right: 4.5%;
	margin-bottom: 20px;
}

/* tap에서 모임 탭의 css */
#trainerMeetingList > a {
	width: 30%;
	text-decoration: none;
	color: inherit;	
	float: left;
	margin: 10px 10px;
	background: #fff;
	transition: 0.2s ease;
}
#trainerMeetingList > a:hover {
	transform: translateY(15px);
}
#trainerMeetingList .trainerMeeting {
	width: 100%;
	height: auto;
	border-radius: 16px;
	border: 1px solid #f1f1f1;
}
.trainerMeeting > div:nth-child(1) {
	height: 120px;
	text-align: center;
	line-height: 100px;
}
.trainerMeeting > div > img {
	width: 100%;
	height: 100%;
	border-radius: 16px 16px 0 0;
}
.meetingContent  {
	padding: 13px;
}
.meetingContent > div:nth-child(1) {
	font-size: 16px;
	width: 100%;
	font-weight: 700;
	color: #383535;
	line-height: 1.5rem;
	height: 3em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.meetingContent > div:nth-child(2) {
	display: flex;
}
.meetingContent > div:nth-child(2) > div {
	border: 1px solid #f1f1f1;
	display: inline-block;
	font-weight: 400;
	color: #383535;
	border-radius: 12px;
	background-color: #f4f4f4;
	padding: 0 8px;
	margin: 4px 8px 0 8px;
}
#trainerMeetingFooter {
	clear: both;
	text-align: center;
	padding: 30px;
}
#trainerMeetingFooter a {
	text-decoration: none;
	color: #000;
	margin: 0 5px;
	font-size: 15px;
}
.writerInfo {
	border-top: .5px solid #dbdbdb;
	padding-top: 10px;
}
.writerInfo img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.writerInfo > span:nth-child(2) {
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
}

/* modal창을 위한 css */
#modal {
	display: none;
	position: fixed;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0; 
	z-index: 1;
}
#modal button {
	width: 30px;
	height: 30px;
}
#modal .modal_content {
	position: fixed;
	top:50%; left:50%;
	transform: translate(-50%,-50%);
	max-width: 60%;
	min-height: 30%;
	background: #fff;
	border: 2px black solid;
	margin: 0 auto;
	padding: 20px;
}
#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.modal_title {
	margin-bottom: 15px;
}
.modal_title > div {
	text-align: center;
}
.modal_title > div:nth-child(1) {
	font-size: 1.5rem;
	font-weight: bold;
}
.modal_title > div:nth-child(2),
.modal_title > div:nth-child(3) {
	color: gray;
	font-size: 12px;
}
#content, #title {
	width: 400px;
	margin: 10px 0;
}
#content {
	height: 300px;
}
#modal form {
	display: flex;
	flex-direction: column;
}
#modal label {
	margin-right: 195px;
	margin-left: 10px;
}
#modal input[type="button"] {
	padding: 6px;
}
#modal input[type="button"]:hover {
	color: orangered;
}
#modal input[type="text"] {
	padding: 10px;
	border: 1px solid;
}
.modal_content {
	text-align: right;
}
#closeModalBtn {
	margin-bottom: 5px;
	border: none;
	background: none;
}

/* 트레이너 리뷰 modal파트 css */
#trainerReviewList {
	width: 96%;
	margin-top: 55px;
}
.eachReview {
	box-shadow: rgb(117 117 117 / 25%) 0px 2px 3px;
	border-radius: 20px;
	padding: 26px 35px;
	background: white;
	margin-top: 20px;
	
}
#modalDetail textarea {
	border: 1px solid;
	padding: 12px;
	margin-bottom: 13px;
}
#modalDetail {
	padding: 0 30px;
}
#modalDetail select {
	width: 45%;
	height: 42px;
	border: 1px solid;
	margin-right: 27px;
	padding-left: 7px;
}
#modalDetail > form > div {
	display: flex;
	margin-bottom: 15px;
}
#modalDetail > div:nth-child(1) {
	font-weight: bold;
	font-size: 20px;
	line-height: 140%;
	color: rgb(27, 28, 29);
	margin-bottom: 10px;
	text-align: left;
}
#writeReview {
	border: none;
	background: black;
	color: white;
	font-weight: bold;
	width: 100px;
	border-radius: 5%;
	margin-left: 75%;
}
.reviewHeader {
	display: flex;
}
.reviewHeader > div {
	width: 100%;
}
.reviewHeader > div i {
	font-size: 20px;
}
.reviewHeader > div > span:nth-child(1) {
	font-weight: bold;
	font-size: 20px;
	color: rgb(27, 28, 29);
	margin: 0 10px;
}
.reviewHeader > div > div {
	font-weight: normal;
	font-size: 1.4rem;
	color: rgb(96, 96, 101);
	margin: 6px 0 0 10px;
}
.reviewHeader img {
	width: 60px;
	height: 60px;
	border-radius: 25%;
}
.reviewHeader > div > span:nth-child(3) {
	font-size: 16px;
	margin-left: 74%;
	border: 1px solid;
	padding: 3px;
	border-radius: 29%;
	font-weight: bold;
}
.reviewContent {
	margin: 15px 0px 20px 0;
}
.reviewContent > a {
	color: #000;
	font-size: 1.6rem;
}
.reviewFooter > div:nth-child(1) {
	float: left;
	font-weight: 500;
	font-size: 16px;
	color: #000;
}
.reviewFooter > div:nth-child(2) {
	float: right;
	font-size: 80%;
	font-weight: 400;
}

/* 리뷰 더보기 버튼 css */
.eachReview {
	display: none;
}
.review0nth, .review1nth, .review2nth, .review3nth, .review4nth {
	display: block;
}

/* 트레이너에게 질문한 list 파트 css */
#trainerQnAList {
	clear: both;
	width: 95%;
	margin-left: 6px;
}
#questionList {
	margin: 30px auto;
}
#questionList th {
	border-top: 2px solid #000;
	padding: 16px;
	font-weight: bold;
	border-top: 2px solid #000;
	border-bottom: 1px solid #d7d7d7;
	background: #fcfcfc;
	text-align: center;
}
#questionList tbody td {
	padding: 16px;
	border-bottom: 1px solid #d7d7d7;
	margin: 0;
	text-align: center;
}
#questionList > tbody td:nth-child(2) {
	/* font-weight: bold; */	
}
#questionList a:hover {
	color: orangered;
	font-weight: bold;	
}
#questionList tbody a {
	text-decoration: none;
	color: inherit;
}
#qnaPaging a {
	text-decoration: none;
	color: #000;
	margin: 0 5px;
	font-size: 15px;
}
#qnaPaging {
	padding: 40px 0 30px;
	text-align: center;
}


/* 질문 등록하기 css */
#writeQuestion {
	border: none;
	background: #000;
	color: white;
	font-weight: bold;
}
.questionContent {
	margin-top: 10px;
	text-align: left;
}
.questionContent > div:nth-child(1) {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding-bottom: 5px;
}
.questionContent > div:nth-child(2) {
	border-top: 2px solid #000;
	padding: 12px 10px;
	min-height: 100px;
	margin-bottom: 10px;
}
.questionContent > div:nth-child(3) {
	float: left;
}
.questionContent > div:nth-child(4) {
	float: right;
}
.questionContent > div {
	padding-left: 10px;
	padding-right: 10px;
}
.questionContent > input {
	clear: both;
	float: right;
	border: none;
	background: #000;
	color: #fff;
	margin: 20px 0 12px;
}
#qnaAnswer {
	clear: both;
	margin-top: 75px;
}
#qnaAnswer textarea {
	border: 1px solid #dfdfdf;
	padding: 12px;
}
#answerBtn {
	padding: 6px;
	background: #000;
	color: #fff;
	font-weight: bold;
	width: 100px;
	margin: 20px 0 0 84%;
}
#trainerAnswer {
	clear: both;
	margin-top: 40px;
	border-top: 2px solid #000;
	padding: 16px 0 0 0;
}
#trainerAnswer > h4 {
	font-weight: bold;
	color: orangered;
}
#answerContent {
	padding: 6px;
	min-height: 100px;
	margin-bottom: 10px;
}

#trainerAnswer > div:nth-child(3) {
	float: right;
	margin-bottom: 20px;
}

#star_grade {
	margin-top: 5px;
}
#star_grade a{
    text-decoration: none;
    color: gray;
    margin-left: 2px;
}
#star_grade a.on{
    color: orangered;
}
.starResult {
	color: orangered;
}

#reviewShowBtn, #reviewCutBtn{
	cursor: pointer;
	text-align: center;
	margin: 0 5px;
	color: orangered;
}
#reviewCutBtn {
	vertical-align: middle;
}
