@charset "UTF-8";

* {
	box-sizing: border-box;	
}

/* 상단 트레이너 프로필 css */
#trainerInfo {
	display: flex;
	margin-top: 50px;
}
#trainerSimple {
	width: 30%;
	margin-right: 30px;
}
#trainerDetail {
	width: 70%;
}
#trainerImage {
	width: 250px;
	height: 250px;
	background: silver;
}
#trainerDetail pre {
	word-break: break-all;
}

/* 하단 탭형식 css */
#tab {
	width: 810px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
#tab ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	height: auto;
}
#tab ul li{
	display: inline-block;
	width: 250px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin: 50px 10px 30px 10px;
	line-height: 50px;
	float: left;
	text-align: center;
	cursor: pointer;
}
#tab ul li:hover, #tab ul li.on {
	background: #ccc;
}
#tab .conBox {
	width: 100%;
	height: auto;
	overflow: hidden;
	min-height: 200px;
	background: #ccc;
	display: none;
}
#tab .conBox.on {
	display: block;
	margin-bottom: 30px;
}

/* tap에서 모임 탭의 css */
#trainerMeetingList a {
	text-decoration: none;
	color: inherit;	
	float: left;
}
#trainerMeetingList .trainerMeeting {
	border: 2px solid black;
	border-radius: 10%;
	width: 250px;
	height: auto;
	margin: 10px 10px;
}
.trainerMeeting div {
	height: 100px;
	text-align: center;
	line-height: 100px;
	border-radius: 15%;
}
.trainerMeeting img {
	width: 100%;
	height: 100%;
	border-radius: 15%;
}

/* modal창을 위한 css */
#modal {
	display: none;
	position: fixed;
	width: 100%; 
	height: 100%;
	top: 0; 
	left: 0; 
	z-index: 1;
}
#modal button {
	width: 30px;
	height: 30px;
}
#modal .modal_content {
	position: fixed;
	top:50%; left:50%;
	transform: translate(-50%,-50%);
	max-width: 60%;
	min-height: 30%;
	background: #fff;
	border: 2px black solid;
	margin: 0 auto;
	padding: 40px;
}
#modal .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: -1;
}
#content, #title {
	width: 400px;
}
#content {
	height: 300px;
}
#modal form {
	display: flex;
	flex-direction: column;
}
#modal label {
	margin-right: 195px;
	margin-left: 10px;
}
.modal_content {
	text-align: right;
}
#closeQnAModal {
	margin-bottom: 5px;
}
#modal input {
	border: 1.5px solid;
	margin-top: 10px;
	padding: 10px;
}

/* 트레이너에게 질문한 list 파트 css */
table > thead > tr > td {
	width: 10%;
}
.questionTitle, .create_at {
	width: 15%;
}
.questionContent {
	width: 35%;
}
#questionList {
	margin: 0 auto;
	border: solid;
}
#questionList > thead > tr, 
#questionList > tbody td:nth-child(1),
#questionList > tbody td:nth-child(3),
#questionList > tbody td:nth-child(4),
#questionList > tbody td:nth-child(5) {
	text-align: center;
}
#questionList td {
	padding: 4px 7px;
	border-bottom: 1px solid #f2f2f2;
	height: 28px;
}
#questionList a:hover {
	color: red;
}
#questionList a {
	text-decoration: none;
	color: inherit;
}




