@charset "UTF-8";

#writeForm {
	margin-top: 20px;
	padding: 20px;
}
#qnaTitle {
	display: flex;
}
#qnaTitle > div {
	font-size: 2.2rem;
	font-weight: bold;
	margin-left: 5%;
	line-height: 40px;
	width: 10%
}
#qnaTitle > input {
	width: 80%;
	height: 40px;
	padding: 10px;
}

#writeRefer {
	padding: 10px;
	margin: 20px auto;
	width: 90%;
}
#qnaContent {
	margin: 20px auto;
	width: 90%;
}
#qnaContent > div:nth-child(1) {
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 40px;
}
#doneBtn {
	float: right;
	border: none;
	background: black;
	color: white;
	border-radius: 10%;
	padding: 10px;
}
