@charset "UTF-8";

/* 마이페이지 전체 */
    a {
		display: block;
		text-decoration: none;
		!important
	}
	.interestBtns {
		display: flex;
	}
	.interestBtns> a {
		margin-right: 50px;
		text-align: center;
	}
	.tabBars {
		position: absolute;
	}
	.tabBars> a {
		text-align: center;
		width: 160px;
		height: 40px;
		line-height: 40px;
		background: silver;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	.tabBars ul {
		margin: 0;
		padding: 0;
	}
	.tabBars ul > li {
		float: left;
		margin: 0;
		padding: 0;
	}
	.barsBox {
		border: 1px solid silver;
		width: 640px;
		height: 250px;
	}

	
/* 모달 css */
	.modal_wrap{
        display: none;
        width: 500px;
        height: 500px;
        position: fixed;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        padding: 50px;
        background:#eee;
        z-index: 2;
    }
    .black_bg{
        display: none;
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .modal_close> a{
    	
    	font-weight: bold;
    	color: black;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    