@charset "UTF-8";


.tags > span {
	margin-left: 30px;
	background: lightgray;
	height: 30px;
	display: inline-block;
	padding: 5px;
	border-radius: 100px;
}

.maketrainerClass {
	background: #f4f4f4;
	width: 200px;
	height:200px;
}

.MeetingClass_all {
	display:flex;
	width: 1080px;	
	height: auto;
}

.MeetingClass_all > a {
	text-decoration: none;
	color: black;
}

.MeetingClass {
	background: #f4f4f4;
	width: 200px;
	height:200px;
	margin-left: 20px;
}

.MeetingClass_all > a {
	text-decoration: none;
}

.QueryAndTag {
	display: flex;
}

#Query > input[type="button"] {
	border:none;
	width: 50px;
	height: 30px;
	background: black;
	color: white;	
}

#Query > a > img {
	width:25px;
	height: 25px;
	margin-bottom:4px;
	margin-left: 4px;
}

#Query > input[type="text"] {
	border:none;
	width: 250px;
	height: 30px;
	background: #f4f4f4;
}

#Tag {
	margin-left: 50px;
}

#Tag > input {
	margin-left: 3px;
	border:0.2px solid #c0c0c0;
	background: white;
	color: #c0c0c0;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	font-size: 14px;
}
