@charset "UTF-8";

.TrainerClassView_part1 {
}

/* 뷰페이지 제목 + 위시리스트 */
#TrainerClass_title {
	width:800px;
	height: auto;
}

#TrainerClass_title {
}

.TrainerClass_title_part {
	display: flex;
}

.OfferWishListBtn_Box {
	width: 280;
	text-align:right;
}

.WishListBtn {
	line-height: 50px;
	width: 210px;
	height: 50px;
	border: 0.2px solid #bec6d3;
	background: white;
	border-radius: 10px;
	font-weight: 700;
}

.IfgoWish_message {
	margin-left: 10px;
	font-size: 13px;
	color: #bec6d3;
	margin-top:10px;
}

.WishListBtn:hover {
	box-shadow: 1px 1px 5px 0px #d9d9d9;
}


/* 모임 소개 관련 */

.subTitle {
	font-size: 12px;
	color: #fa8072;
	font-weight: 800;
	margin-bottom: 5px;
}


i, .intro_values {
	margin-bottom: 13px;
}

.title {
	font-size: 22px;
	font-weight: 900;
}

.intro_values {
	font-size: 14px;
}

.TrainerClassInfos {
	font-size: 18px;
	display: flex;
}

#TrainerClass_part {
	margin: 28px 0px;
}

 
.TrainerClassPhoto {
	float: right;
}

#TrainerClass_intro {
	width: 580px;
}

.Btns1 > div > input {
	border:none;
	background: white;
}

#ClassApplyBtn {
	background: #fa8072;
	width: 100px;
	height: 30px;
	color: white;
	border-radius: 10px;
	font-weight: 300;
}

#ClassApplyBtn:hover {
	background: #fa7061;
	font-weight: 800;
	border-radius: 10px;
}

.relatedClass_all {
	overflow-x: scroll;
}

#modal-open-btn {
	border-radius: 10px;
	width: 100px;
	height: 30px;
	border: 1px solid #fa8072;
	color: #fa8072;
	margin-left: 5px;
}

#meeting_List {
	width: 100px;
	height: 30px;
	border: 1px solid #bebebe;
	color: #bebebe;
	margin-left: 5px;
	border-radius: 10px;
}

#ClassUpdateBtn {
	border-radius: 10px;
	border: 1px solid #bebebe;
	color: #bebebe;
	margin-left: 5px;
	width: 100px;
	height: 30px;
}

#ClassDeleteBtn {
	border-radius: 10px;
	border: 1px solid #bebebe;
	color: #bebebe;
	margin-left: 5px;
	width: 100px;
	height: 30px;
}

.TrainerClassPhoto {
	width: 300px;
	height: 300px;
	background: lightgray;
	line-height: 300px;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}

.WishList {
	margin-
}

.WishList_all {
	display: block;
}

.myPhoto {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	background: lightgray;
}

.createComment_all {
	display: flex;
}

.createComment_all > #createComment > input {
	width: 880px;
	margin-left: 20px;
	border-width: 0 0 2px; 
	border-color: lightgray;
}

.createComment_all > #createComment > input:hover {
	border-width: 0 0 3px;
	border-color: black;
}	

#writerPhoto {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: lightgray;
}

.listComment_all {
	display:flex;
}

.comment_wrap {
	display: flex;
}

.comment1 {
	display: flex;
}

.comment2 {
	width:700px;
}

.CommentU_DBtn {
	margin-left: 80px;
}

.comment1 > div:nth-of-type(2) {
	margin-left: 20px;
}

.comment_all {
	margin-left: 20px;
	width: 880px;
}

#createComment {
	width: 904px;
}

.listCommentContent {
	margin-left: 20px;
}

.commentContent {
	display: flex;
	margin-top: 20px;
}

#commentUpdate {
	width: 880px;
	margin-left: 20px;
	border-width: 0 0 2px; 
	border-color: lightgray;
}

#commentUpdate:hover{
	border-width: 0 0 3px;
	border-color: black;
}

.CommentU_DBtn > div > input {
	border: 0px;
	background: none;
	color: lightgray;
}

.CommentU_DBtn > div > input:hover {
	color: black;
}

/* 모달창 */

.modal_all {

	display: none;
	width: 800px;
	height: 700px;
	padding: 50px 60px;
	background-color: #fefefe;
	border-radius: 5px;
	overflow :auto;
	position: fixed; /* Stay in place */
	top:50%; 
	left:50%;
 	transform: translate(-50%,-50%);
}

textarea[name="question_content"] {
	overflow :auto;
}

#modal_background {
	 display:none;
	 position:fixed; 
	 width:100%;
	 height:100%;
	 top:0;
	 left:0; 
	 background:rgba(0,0,0,0.5);
}

#modal_close_btn {
	font-size: 28px;
	margin-left: 650px;
	background: white;
	border-radius: 50px;
	color: black;
	width: 35px;
	height: 35px;
	text-align:center;
	line-height: 30px;
	box-shadow: 1px 1px 1px 1px gray;
}

.Btns1 {
	float: right;
}

.btns {
	disply: flex;
}

#commentUpdateCancel {
	margin-left:5px;
}

#commentUpdateEnd {
	margin-left: 8px;
}

#question_title, #question_content {
	border: 1px solid lightgray;
}

#question_title {
	width: 677px;
	height: 30px;
	margin-bottom: 5px;
}

#questionBtn {
	float: right;
}



/* 관련 트레이너 클래스 */

.relatedClass_all {
	display: flex;
	overflow: auto;
}

.relatedClass {
	margin-right: 20px;
	width: 250px;
	height: 280px;
	background: white;
	border: 0.5px solid #cacfd5;
	border-radius: 30px;
}


/* 트레이너 정보 */

.trainerHostInfo_all {
	margin-top: 20px;
	width: 500px;
	height: auto;
	border-radius: 16px;
	border: 0.5px solid #cacfd5;
}

.trainerHostInfo_all > a {
	text-decoration: none;
	color: #2f2d40;
}

.trainerHostInfo {
	padding: 20px;
}

.user_names {
	margin-top: 20px;
	margin-left: 10px;
}

.user_separator {
	font-size: 10px;
}

.user_nameInfo {
	font-size: 18px;
	font-weight:900;
}

#location {
	margin-top:10px;
}

#location > span {
	padding: 5px;
	border-radius: 100px;
	background: #ebebeb;
	font-size: 12px;
}

#materials {
	margin-top: 10px;
}

#materials > span {
	padding: 5px;
	border-radius: 100px;
	background: #ebebeb;
	font-size: 12px;
}

.trainer_message {
	margin-top:10px;
}

/* 관련리스트 */
.related_meeting_content {
	padding: 15px;
}

.relatedClass > a {
	text-decoration: none;
	color:black;
}

.related_meeting_title {
	font-weight: 800;
}

.related_exercise_name {
	margin-top:25px;
	margin-bottom:8px;
	width: 45px;
	height: 25px;
	border-radius: 25px;
	text-align:center;
	line-height: 25px;
	background: #e8eaec;
}

.location {
	font-size: 8px;
	margin-left: 3px;
}

.profile_photo {
	width: 45px;
	height: 45px;
	border-radius:100px;
	background:lightgray;
}

#paging {
	text-align: center;
	margin-top:50px;
	color: lightgray;
}

#commentBtn {
	border:none;
	background: lightgray;
	width: 50px;
	height: 30px;
	color: white;
}

#commentInsertCancel {
	border:0.5px solid lightgray;
	background: white;
	width: 50px;
	height: 30px;
	color: lightgray;
	
}

#commentUpdateEnd {
	border:none;
	background: lightgray;
	width: 50px;
	height: 30px;
	color: white;
}

#commentUpdateCancel {
	border:0.5px solid lightgray;
	background: white;
	width: 50px;
	height: 30px;
	color: lightgray;
}












