@charset "UTF-8";

.filter_all {
	display: flex;
	width: 100%;
	height: 80px;
	background: #f4f4f4;
	padding: 10px;
}

.filter_content {
	display: flex;
}


.tags > span {
	margin-left: 30px;
	background: lightgray;
	height: 30px;
	display: inline-block;
	padding: 5px;
	border-radius: 100px;
}

.maketrainerClass {
	float: left;
	background: #f4f4f4;
	width: 250px;
	height:250px;
	margin-right: 20px;
	margin-top: 20px;
}

.MeetingClass_all {
	width: 1080px;	
	height: auto;
}

.MeetingClass_all > a {
	text-decoration: none;
	color: black;
}

.MeetingClass {
	float: left;
	background: #f4f4f4;
	width: 250px;
	height:250px;
	margin-right: 20px;
	margin-top: 20px;
}

.MeetingClass_all > a {
	text-decoration: none;
}

.QueryAndTag {
	display: flex;
}

#Query > input[type="button"] {
	border:none;
	width: 35px;
	height: 35px;
	background: #2fd0a4;
	color: white;	
}


#Query > a > img {
	width:25px;
	height: 25px;
	margin-bottom:4px;
	margin-left: 4px;
}

#Query > input[type="text"] {
	width: 400px;
	height: 40px;
	border-radius: 40px;
	text-align: inherit;
	border: 0.1px solid #dee2e6;
}
#Query > input[type="text"]:hover {
	
}

#Query {
	padding-top: 10px;
}

#Tag_name {
	margin-right: 120px;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	height: 35px;
	border: none;
	line-height: 35px;
	font-weight: 800;
	color:#303030;
}

#Tag > #Tag_content > input {
	margin-left: 3px;
	border:0.1px solid #dee2e6;
	background: white;
	box-shadow: #dee2e6 0px 0px 0px 0.2px inset;
	color: #637181;
	width: 112px;
	height: 45px;
	border-radius: 40px;
	font-size: 14px;
}

#Tag_content {
	margin-top: 20px;
}

#Tag > #Tag_content > input:hover {
	background: #f8f9fa;
	width: 112px;
	height: 45px;
	border-radius: 40px;
	font-size: 14px;
}

#Tag {
	margin-top: 20px;
}

#line1{
	margin-top: 30px;
	width: 1080px;
	background: #d2d8dd;
	height: 0.5px;
	border: none;
}

.filter_open {
	width: 120px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	line-height: 40px;
}

.meeting_filter {
	padding-top: 8px;
	margin-left: 620px;
}

/* 모달관련 css */

#modal_btn {
	margin-left: 540px;
	height: 45px;
	width: 100px;
	background: white;
	border: 0.1px solid black;
}

.modal_wrap{
        display: none;
        width: 180px;
        height: 250px;
        position: absolute;
        top: 415px;
        right: 23%;
        margin:0;
        background:white;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
	   	color: black;
	   	padding: 12px 16px;
    	z-index: 999;
   }
   .black_bg{
       display: none;
       position: absolute;
       content: "";
       width: 100%;
       height: 100%;
       background-color:rgba(0, 0,0, 0.1);
       top:0;
       left: 0;
       z-index: 1;
   }
  
   .modal_close> a{
       display: block;
       width: 100%;
       height: 100%;
       background:url(https://img.icons8.com/metro/26/000000/close-window.png);
       text-indent: -9999px;
   }
   
   #line {
   	margin-top: 10px;
   	margin-bottom: 15px;
   	width: 150px;
   	height: 1px;
   	background: lightgray;
   }
   
   
   .catagory {
   	margin-bottom: 8px;
   	width: 150px;
   	height: 50px;
   	line-height: 50px;
   }
   
   .catagory:hover {
	background: #e7e7e7;		
}
   
   
   #model_title {
   	font-size: 18px;
   	font-weight: 700;
   }
   
   .modal_content > a {
   	text-decoration: none;
   	color: black;
   }

