@charset "UTF-8";

.filter_all {
	display: flex;
	width: 100%;
	height: 80px;
	background: #f4f4f4;
	padding: 10px;
}

.filter_content {
	display: flex;
	margin-top: 40px;
}


.tags > span {
	margin-left: 30px;
	background: lightgray;
	height: 30px;
	display: inline-block;
	padding: 5px;
	border-radius: 100px;
}

.maketrainerClass {
	border: 0.5px solid #e7e7e7;
	float: left;
	background: #f4f4f4;
	width: 250px;
	height:280px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 20px;
	text-align: center;
}

#makeTrainerClassContent > li {
	margin-top: 3px;
}

.MeetingClass_all {
	position: relative;
    display: inline-block;
    width: 100%;
}
*, ::after, ::before {
}

.MeetingClass_all > a {
	text-decoration: none;
	color: black;
}

#MeetingClassPhoto  >img {
	width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
}

.MeetingClass {
	float: left;
	background: white;
	border: 0.5px solid #e7e7e7;
	width: 250px;
	height:280px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 20px;
}

#MeetingplusIcon{
	line-height: 50px;
	text-align: center;
	width: 45px;
	height: 45px;
	border-radius: 100px;
	background: white;
	margin: auto;
}

.exercise_name {
	font-size: 10px;
	width: 50px;
	height: 25px;
	padding:7px;
	text-align: center;
	border-radius: 30px;
	margin-top: 25px;
	background: #f0f0f0;
}

.location {
	font-size: 10px;
	margin-top: 10px;
}

.MeetingClass_all > a {
	text-decoration: none;
}

.QueryAndTag {
	display: flex;
}

#Query > button {
	border:none;
	width: 40px;
	height: 40px;
	margin-left:8px;
	background: #2ed8b6;
	color: white;	
	border-radius: 100px;
}

#Query > button:hover {
	border:none;
	width: 40px;
	height: 40px;
	margin-left:8px;
	color: white;
	background: #1dd19b;
	border-radius: 100px;
}


#Query > a > img {
	width:25px;
	height: 25px;
	margin-bottom:4px;
	margin-left: 4px;
}

#Query > input[type="text"] {
	width: 350px;
	height: 40px;
	padding-left:10px;
	border-radius: 40px;
	border: none;
	margin-left: 10px;
}
#Query > input[type="text"]:hover {
	
}

#Query {
	border-radius: 40px;
	padding: 5px;
	
	border:0.1px solid #dee2e6;
	width: 425px;
	height: 50px;
}

#Tag_name {
	margin-top: 30px;
	margin-right: 145px;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	height: 35px;
	border: none;
	line-height: 35px;
	font-weight: 800;
	color:#303030;
}

#Tag > #Tag_content > input {
	margin-left: 3px;
	border:0.1px solid #dee2e6;
	background: white;
	box-shadow: #dee2e6 0px 0px 0px 0.2px inset;
	color: #637181;
	width: 90px;
	height: 35px;
	border-radius: 40px;
	font-size: 14px;
}

#catagory_title {
	display: inline;
	font-weight: 900;
}

#catagory_count{
	display: inline;
	margin-left: 10px;
}

.meeting_filter_alert {
	margin-top:15px;
}


#Tag_content {
	margin-top: 30px;
}

#Tag > #Tag_content > input:hover {
	background: #f8f9fa;
	width: 90px;
	height: 35px;
	border-radius: 40px;
	font-size: 14px;
}

#Tag {
	display: flex;
}

#line1{
	margin-top: 30px;
	width: 1080px;
	background: #24e1a9;
	height: 0.8px;
	border: none;
}

.filter_open {
	width: 120px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	line-height: 40px;
}

.meeting_filter {
	padding-top: 8px;
	margin-left: 620px;
}



/* 모달관련 css */

#modal_btn {
	color:#24e1a9;
	margin-left: 540px;
	height: 45px;
	width: 120px;
	background: white;
	border: 0.1px solid #dee2e6;
}

.modal_wrap{
        display: none;
        width: 150px;
        height: 210px;
        position: absolute;
        top: 415px;
        right: 12%;
        margin:0;
        background:white;
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
	   	color: black;
	   	padding: 12px 16px;
    	z-index: 999;
   }
   .black_bg{
       display: none;
       position: absolute;
       width: 100%;
       height: 100%;
       background-color:rgba(0, 0,0, 0);
       top:0;
       left: 0;
       z-index: 1;
   }
  
   .modal_close> a{
       display: block;
       width: 100%;
       height: 100%;
       background:url(https://img.icons8.com/metro/26/000000/close-window.png);
       text-indent: -9999px;
   }
   
   #line {
   	margin-top: 10px;
   	margin-bottom: 15px;
   	width: 120px;
   	height: 1px;
   	background: lightgray;
   }
   
   
   .catagory {
   	margin-bottom: 5px;
   	width: 120px;
   	height: 40px;
   	line-height: 40px;
   }
   
   .catagory:hover {
	background: #e7e7e7;		
}
   
   
   #model_title {
   	font-size: 16px;
   	font-weight: 700;
   }
   
   .modal_content > a {
   	text-decoration: none;
   	color: black;
   }

