@charset "UTF-8";


.tags > span {
	margin-left: 30px;
	background: lightgray;
	height: 30px;
	display: inline-block;
	padding: 5px;
	border-radius: 100px;
}

.tags > span > a {
	text-decoration: none;
	color: black;
}

.maketrainerClass {
	background: lightgray;
	width: 200px;
	height:200px;
}

.MeetingClass_all {
	display:flex;
}

.MeetingClass {
	background: lightgray;
	width: 200px;
	height:200px;
	margin-left: 30px;
}

.MeetingClass_all > a {
	text-decoration: none;
}

