@charset "UTF-8";

.TrainerClassView_part1 {
	display: flex;
}

.TrainerClassInfo {
	font-size: 18px;
}

.TrainerClassPhoto {
	width: 300px;
	height: 300px;
	background: lightgray;
	margin-left: 400px;
	line-height: 300px;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}

.WishList {
	margin-
}

.WishList_all {
	display: block;
}

.myPhoto {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	background: lightgray;
}

.createComment_all {
	display: flex;
}

.createComment_all > #createComment > input {
	width: 700px;
	margin-left: 20px;
	border-width: 0 0 2px; 
	border-color: lightgray;
}

#writerPhoto {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: lightgray;
}

.listComment_all {
	display:flex;
}

.comment_wrap {
	display: flex;
}

.comment1 {
	display: flex;
}

.comment2 {
	width:700px;
}

.CommentU_DBtn {
	margin-left: 80px;
}

.comment1 > div:nth-of-type(2) {
	margin-left: 20px;
}

.comment_all {
	margin-left: 20px;
}

.listCommentContent {
	margin-left: 20px;
}

.commentContent {
	display: flex;
	margin-top: 20px;
}

#commentUpdate {
	width: 700px;
	margin-left: 20px;
	border-width: 0 0 2px; 
	border-color: lightgray;
}

.CommentU_DBtn > div > input {
	border: 0px;
	background: none;
	color: lightgray;
}

.CommentU_DBtn > div > input:hover {
	color: black;
}

/* 모달창 */

.modal_all {
	display: none;
	width: 600px;
	height: 500px;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
	overflow :auto;
}

.modal_all {
	position: absolute;
	top: 10px;
	right: 10px;
}





































