@charset "UTF-8";

.TrainerClassView_part1 {
	display: flex;
}

.TrainerClassInfo {
	font-size: 18px;
}

.TrainerClassPhoto {
	width: 300px;
	height: 300px;
	background: lightgray;
	margin-left: 400px;
	line-height: 300px;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}

.WishList {
	margin-
}

.WishList_all {
	display: block;
}

#myPhoto {
	width: 70px;
	height: 70px;
	border-radius: 100px;
	background: lightgray;
}

.createComment_all {
	display: flex;
}

.createComment_all > #createComment > input {
	width: 700px;
	margin-left: 20px;
	border-width: 0 0 2px; 
	border-color: lightgray;
}


.btns {
	visibility: hidden;
}

.createComment_all > #createComment > input:action > .btns {
	visibility: visible;
}
