@CHARSET "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
}

.border {
    border: 1px solid black;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
}

.container {
	width: 1000px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.nav-container .nav-btn {
    padding: 5px 10px;
}

#select-nav {
	background-color: coral;
    color: white;
    font-weight: bold;
}

.flex {
    display: flex;
}

.w1000 {
	width: 1000px;
}

.scroll {
	overflow: auto;
}

table {
	border-collapse: collapse;
	width: 1800px;
}

td, th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 10px;
	text-align: center;
}

th {
	background: silver;
}

tfoot.paging {
	color: silver;
	text-align: center;
}

tfoot a {
	text-decoration: none;
	color: silver;
}

tfoot a:hover {
	color: limegreen;
}

span.disable {
	font-weight: 900;
	color: limegreen;
}

.black-background {
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba( 0, 0, 0, 0.6 );
}

.white-background {
	border-radius: 5px;
	background: white;
	max-width: 400px;
	margin: 200px auto;
}

.padding1020 {
	padding: 10px 20px;
}

.hide {
	transition: all 1s;
	display: none;
}

.show {
	display: block;
}

.success {
	color: green;
	font-weight: bold;
}

.fail {
	color: crimson;
	font-weight: bold;
}