@charset "UTF-8";

	/* 모달 css */
<<<<<<< HEAD
.modal_wrap{
	display: none;
	width: 500px;
	height: 300px;
	position: fixed;
	top:50%;
	left: 50%;
	margin: -100px 0 0 -250px;
	padding: 30px;
	border: 2px solid #fa8072;
	background:#fff;
	z-index: 2;
	box-shadow : 3px 3px 7px #999;
}
.modal_close{
	width: 26px;
	height: 26px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.modal_close> a{
   	
	font-weight: bold;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 3;
}
i {
	color: #fa8072;
}
i:hover {
	color: #ff6600;
}

#regEmail {
	width: 300px;
	height: 30px;
	color: #6c757d;
	font-weight: 500;
	font-size: 15px;
	padding:6px 12px;
	margin-top: 20px;
	border: 0.5px solid silver;
}

input:focus {
	outline:1px solid #fa8072;
	
}

#sendTempPw {
	width: 200px;
	height: 40px;
	border: none;
	color: #fff;
	background: #fa8072;
}
=======
	.modal_wrap{
        display: none;
        width: 500px;
        height: 200x;
        position: fixed;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        padding: 50px;
        background:#FFF;
        z-index: 2;
    }
    .black_bg{
        display: none;
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 10px solid orange;
        background:  #FF8200;
        text-align: center;
        font-size: 20px;
    }
    .modal_close > a {
    	font-weight: bold;
    	color: black;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 3;
        text-align: center;
    }
>>>>>>> 6d7ecf1159d1c3f547e51402bdda8200ede9587f
    
    
  	
    
    
    /* 로그인 입력 폼 css*/


	* {
		box-sizing: border-box;
	}
	
	
	body { 
		font-size: 15px;
		text-align: center;
		top: 50%;
		left: 50%;
		padding: 50px;
	}
	
	h3 {
		font-size: 30px;
		margin: 0px auto;
		margin-botom: 400px;
		padding: 20px;
	}
	
	
	.login_text {
		width: 300px;
		top: 50%;
		text-align: center;
		height: 40px;
		margin-bottom: 10px;
		box-sizing: border-box;
		
	}
	
	img {
		width: 40px;
		margin-bottom: -15px;
		margin-right: 15px;
	}

	input [type=button] {
		border: none;
		background: #fa8072;
	}
	
	button {
		border: none;
	}

	.login_btns1, .login_btns2, .login_btns3 {
		width: 300px;
		height: 50px;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
		line-height: 50px;
		border: 0;
		outline: 0;
		
	}
	
	.login_btns1 {
		background: #fa8072;
		color: #fff;
	}
	
	.login_btns2 {
		background: #ffe800;
		color: #381e1f;
	}
	
	.login_btns3 {
		background: #435e99;
		color: #fff;
	}
	
	p > a {
		color: rgb(123, 123, 123);
		cursor: pointer;
		font-size: 15px;
		margin-top: 0px;
		text-decoration: underline;
	}
	
	
	div > a {
		color: rgb(123, 123, 123);
		cursor: pointer;
		font-size: 15px;
		margin-top: 0px;
		text-decoration: underline;
		text-align: border:
	}
	
