@charset "UTF-8";

	/* 모달 css */
	.modal_wrap{
        display: none;
        width: 500px;
        height: 200x;
        position: fixed;
        top:50%;
        left: 50%;
        margin: -250px 0 0 -250px;
        padding: 50px;
        background:#eee;
        z-index: 2;
    }
    .black_bg{
        display: none;
        position: fixed;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close{
        width: 26px;
        height: 26px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .modal_close> a{
    	
    	font-weight: bold;
    	color: black;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    
    /* 로그인 입력 폼 css*/


	* {
		margin: 5px;
		padding: 0px;
		text-align: center;
		text-decoration: none;
		
	}
	
	
	body > h3 { 
		font-size: 30px;
		margin-bottom: 40px;
	}
	
	
	.login_text {
		width: 200px;
		top: 50%;
		text-align: center;
		height: 30px;
		margin-bottom: 10px;
		box-sizing: border-box;
		
	}
	
	
	.login_btns {
		display: inline-block;
		width: 200px;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		border: 1px solid black;
		box-sizing: border-box;
		height: 40px;
		border-radius: 3px; 
		font-weight: bold;		
		background: orange;
	}
	
	p > a {
		color: #7B7B7B;
		cursor: pointer;
		text-decoration: none;
	}
	
	div  a {
		color: #7B7B7B;
		cursor: pointer;
		text-decoration: underline;
	}
	
	div > input > .login_btns {
		backgound: #41617B;
	}
	

	div > input > .login_btns1 {
		background-color: rgb(65, 103, 178);
		border: 0px;
		font-size: 14px;
		height: 48px;
		width: 100%;
	}
	
	div > input > login_btns2 {
		width: 300px;
		height: 44px;
		border-radius: 5px;
		margin-bottom: 8px;
		font-size: 12px;
		color: #4a4a4a;
		background-color: #fff115;
		box-shadow: 0 2px 1px 0 rgba(155, 155, 155, 0.5);
		display: flex;

		
	}
	
	
